<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css" crossorigin="anonymous">

    <title>Document</title>

</head>

<body>
    <div class="container-fluid">
        <ul class="nav bg-secondary mt-2">
            <li class="nav-item">
                    <a href=""><button class="nav-link btn btn-primary">Dashboard</button></a>
                  </li>
            <li class="nav-item">
              <a href="index.html"><button class="nav-link btn btn-primary active">Consulta Clientes</button></a>
            </li>
            <li class="nav-item">
                    <a href="proveedores.html"><button class="nav-link btn btn-primary">Consulta Proveedores</button></a>
                </li>
            <li class="nav-item">
              <a href=""><button class="nav-link btn btn-primary" tabindex="-1" aria-disabled="true">Disabled</button></a>
            </li>
          </ul>

        <div class="col-md-4">
            <div class="card p-2">
                <div class="p-2">
                    <h2 class="text-center">Agregar Datos</h2>
                </div>

                <div class="m-2">
                    <form id="form" class="m-1">
                        <div class="form-group">
                            <input class="form-control" type="date" id="fecha">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" id="cliente" placeholder="Cliente">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" id="direccion" placeholder="Direccion">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" id="ticket" placeholder="Ticket">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" id="resistencia" placeholder="Resistencia">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" id="volumen" placeholder="Volumen">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" id="unidad" placeholder="Unidad">
                        </div>
                        <button class="btn btn-success btn-sm">Guardar</button>
                    </form>
                </div>
            </div>



        </div>


    </div>
</body>

<script>
    const { ipcRenderer } = require('electron');
    
    const form = document.querySelector('#form');
    form.addEventListener('submit', (e) => {
        e.preventDefault();
        guardar();
    });


    function guardar() {

const fecha = document.querySelector('#fecha').value;
const cliente = document.querySelector('#cliente').value;
const direccion = document.querySelector('#direccion').value;
const ticket = document.querySelector('#ticket').value;
const resistencia = document.querySelector('#resistencia').value;
const volumen = document.querySelector('#volumen').value;
const unidad = document.querySelector('#unidad').value;


const datos = {
    fecha: fecha,
    cliente: cliente,
    direccion: direccion,
    ticket: ticket,
    resistencia: resistencia,
    volumen: volumen,
    unidad: unidad
};

console.log('datos length =' + datos.length);
const tabla = 'despachohs'

ipcRenderer.send('guardar', datos, tabla);
form.reset()
};


</script>

</html>