<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css" crossorigin="anonymous">

    <title>Document</title>

</head>

<body>
    <div class="container-fluid">
        <ul class="nav bg-secondary mt-2">
            <li class="nav-item">
                <a href=""><button class="nav-link btn btn-primary">Dashboard</button></a>
            </li>
            <li class="nav-item">
                <a href="index.html"><button class="nav-link btn btn-primary">Consulta Clientes</button></a>
            </li>
            <li class="nav-item">
                <a href="proveedores.html"><button class="nav-link btn btn-primary active">Consulta Proveedores</button></a>
            </li>
            <li class="nav-item">
                <a href=""><button class="nav-link btn btn-primary" tabindex="-1" aria-disabled="true">Disabled</button></a>
            </li>
        </ul>
        <div class="ml-3 mt-1">
            <a href="proveedores.html"><button class="btn btn-primary">Consulta General</button></a>
            <a href="cuentasproveedores.html"><button class="btn btn-primary">Cuentas por pagar</button></a>
            <a href="addentrada.html"><button class="btn btn-primary active">Agregar entrada</button></a>
            <a href="facturas.html"><button class="btn btn-primary">Agregar Factura</button></a>
            <a href="listproveedores.html"><button class="btn btn-primary">Proveedores</button></a>
        </div>
        <h2 class="text-center">Registrar Entrada de Agregados</h2>
        <form id="form">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Fecha</label>
                        <input class="form-control" type="date" id="fecha">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Proveedor</label>
                        <select id="txtBuscar" type="text" class="form-control form-control-sm">

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Material</label>
                        <select id="agregadoValue" class="form-control form-control-sm">
                            <option>Granza</option>
                            <option>Piedra</option>
                            <option>Cemento</option>
                            <option>Agua</option>
                            <option>Aditivo</option>
                            <option>Fibra</option>
                            <option>Hidrofugo</option>
                        </select>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Chofer</label>
                        <select id="txtChofer" type="text" class="form-control form-control-sm">
                            <option>-</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">N. de Control</label>
                        <input class="form-control" type="text" id="nControl">
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Cantidad</label>
                                <input class="form-control" type="text" id="Cantidad">


                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check form-check-inline mt-4">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="optionM3"
                                    value="1">
                                <label class="form-check-label" for="inlineRadio1">m3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="optionTn"
                                    value="2">
                                <label class="form-check-label" for="inlineRadio2">Tn</label>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-success btn-block mx-3">Guardar</button>
            </div>
        </form>


    </div>
</body>

<script>
    console.log('Iniciando')
    const { ipcRenderer } = require('electron');

    const form = document.querySelector('#form');
    form.addEventListener('submit', (e) => {
        e.preventDefault();
        guardar();
    });

    ipcRenderer.on('carga4', (e, buscardata) => {
        //console.log(datos[0].fecha)
        txtBuscar.innerHTML += ``;
        for (var i = 0; i < buscardata.length; i++) {
            txtBuscar.innerHTML += `
                        <option>${buscardata[i].nombre}</option>`;
        }

    });

    ipcRenderer.on('carga5', (e, buscardata) => {
        //console.log(datos[0].fecha)
        txtChofer.innerHTML += ``;
        for (var i = 0; i < buscardata.length; i++) {
            txtChofer.innerHTML += `
                        <option>${buscardata[i].nombre}</option>`;
        }

    });


    function guardar() {

        const fecha = document.querySelector('#fecha').value;
        const proveedor = document.querySelector('#txtBuscar').value;
        const agregado = document.querySelector('#agregadoValue').value;
        const chofer = document.querySelector('#txtChofer').value;
        const nControl = document.querySelector('#nControl').value;
        const cantidad = document.querySelector('#Cantidad').value;
        let guardado = 0;
        var precioMaterial = "";
        var precioFlete = "";

        const sql = 'SELECT(SELECT precio  FROM proveedores WHERE nombre = "' + proveedor + '" AND Material = "' + agregado + '") AS proveedor, (SELECT precio  FROM proveedores WHERE nombre = "' + chofer + '" AND Material = "flete") AS flete, (SELECT factor  FROM proveedores WHERE nombre = "' + proveedor + '" AND Material = "' + agregado + '") AS factorp, (SELECT factor  FROM proveedores WHERE nombre = "' + chofer + '" AND Material = "flete") AS factorf;';

        ipcRenderer.send('encontrar', sql);

        ipcRenderer.on('encontro', (e, datos) => {
            precioMaterial = datos[0].proveedor
            precioFlete = datos[0].flete
            factorMaterial = datos[0].factorp
            factorFlete = datos[0].factorf
            if (precioMaterial == null) {
                guardado = 1;
                //alert('El proveedor indicado no posee un precio establecido para este agregado!')
                if (alert("El proveedor indicado no posee un precio establecido para este agregado!")) {
                    form.reset()    
                }
            }
            console.log('1= ' + precioMaterial);
            console.log('1= ' + precioFlete);
            if (chofer == "-") {
                precioFlete = '0.00';
            }

            if (document.querySelector('#optionM3').checked) {
                console.log('check 1')
                datos = {
                    fecha: fecha,
                    proveedor: proveedor,
                    chofer: chofer,
                    control: nControl,
                    material: agregado,
                    m3: cantidad,
                    preciom: precioMaterial,
                    preciof: precioFlete,
                    factorp: factorMaterial,
                    factorf: factorFlete
                };
            }

            if (document.querySelector('#optionTn').checked) {
                console.log('check 2')
                datos = {
                    fecha: fecha,
                    proveedor: proveedor,
                    chofer: chofer,
                    control: nControl,
                    material: agregado,
                    tn: cantidad,
                    preciom: precioMaterial,
                    preciof: precioFlete,
                    factorp: factorMaterial,
                    factorf: factorFlete
                };
            }

            /*if (fecha == '') {
                guardado = 1;
                if (alert("Valor de fecha no ingresado!")) {
                    form.reset()
                }
            }*/

            console.log(precioMaterial);
            console.log(precioFlete);


            console.log('datos length =' + datos.length);
            const tabla = 'materiales'

            if (guardado == 0) {
                ipcRenderer.send('guardar', datos, tabla);
                form.reset()
            }
        });
    };

//SELECT fecha, proveedor, sum(m3) as m3, sum(tn) FROM materiales WHERE fecha BETWEEN '2018-12-1' and '3019-1-1' GROUP BY proveedor ORDER BY proveedor ASC; 

</script>

</html>