<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css" crossorigin="anonymous">

    <title>Document</title>

</head>

<body>
    <div class="container-fluid">
        <ul class="nav bg-secondary mt-2">
            <li class="nav-item">
                <a href=""><button class="nav-link btn btn-primary">Dashboard</button></a>
            </li>
            <li class="nav-item">
                <a href="index.html"><button class="nav-link btn btn-primary ">Consulta Clientes</button></a>
            </li>
            <li class="nav-item">
                <a href="proveedores.html"><button class="nav-link btn btn-primary active">Consulta Proveedores</button></a>
            </li>
            <li class="nav-item">
                <a href=""><button class="nav-link btn btn-primary" tabindex="-1" aria-disabled="true">Disabled</button></a>
            </li>
        </ul>
        <div class="ml-3 mt-1">
            <a href="proveedores.html"><button class="btn btn-primary">Consulta General</button></a>
            <a href="cuentasproveedores.html"><button class="btn btn-primary active">Cuentas por pagar</button></a>
            <a href="addentrada.html"><button class="btn btn-primary">Agregar entrada</button></a>
            <a href="addProveedor.html"><button class="btn btn-primary">Agregar proveedor</button></a>
            <a href="listproveedores.html"><button class="btn btn-primary">Proveedores</button></a>
        </div>


        <div class="row m-3">
            <div class="col">
                <div class="card p-2">
                    <div id="areaImprimir">
                        <table class="table">
                            <thead class="bg-primary">
                                <h4>Agregados</h4>
                                <tr>
                                    <th scope="col" class="p-1">Fecha</th>
                                    <th scope="col" class="p-1">Proveedor</th>
                                    <th scope="col" class="p-1">Chofer</th>
                                    <th scope="col" class="p-1">N° de Control</th>
                                    <th scope="col" class="p-1">Material</th>
                                    <th scope="col" class="p-1">Volumen(m3)</th>
                                    <th scope="col" class="p-1">Peso(Tn)</th>
                                    <th scope="col" class="p-1">Precio Uni.</th>
                                    <th scope="col" class="p-1">Total</th>
                                    <th scope="col" class="p-1">Pagar</th>
                                </tr>
                            </thead>
                            <tbody id="txt">

                            </tbody>
                        </table>
                        <table class="table">
                            <thead class="bg-primary">
                                <h4>Fletes</h4>
                                <tr>
                                    <th scope="col" class="p-1">Fecha</th>
                                    <th scope="col" class="p-1">Proveedor</th>
                                    <th scope="col" class="p-1">Chofer</th>
                                    <th scope="col" class="p-1">N° de Control</th>
                                    <th scope="col" class="p-1">Material</th>
                                    <th scope="col" class="p-1">Volumen(m3)</th>
                                    <th scope="col" class="p-1">Peso(Tn)</th>
                                    <th scope="col" class="p-1">Precio Uni.</th>
                                    <th scope="col" class="p-1">Total</th>
                                    <th scope="col" class="p-1">Pagar</th>
                                </tr>
                            </thead>
                            <tbody id="txt2">

                            </tbody>
                        </table>
                        <h2 class="text-center">--------------------------------------------------------</h2>
                        <div id="total">

                        </div>
                        <h2 class="text-center">--------------------------------------------------------</h2>
                    </div>
                    <div class="row">
                        <input class="btn btn-warning col mr-1 ml-3" type="button" onclick="printDiv('areaImprimir')"
                            value="imprimir div" />
                        <button class="btn btn-primary btn-block col ml-1 mr-3" onclick="pagar()">Pagar</button>
                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="paginas">

                    </ul>
                </nav>



            </div>
            <script>

                const txt = document.querySelector('#txt');
                const txt2 = document.querySelector('#txt2');
                const total = document.querySelector('#total');
                const txtBuscar = document.querySelector('#txtBuscar');
                const paginas = document.querySelector('#paginas');
                let totalGlobal = 0;
                const { ipcRenderer } = require('electron');

                let listaDatos = [];
                let listaFlete = [];
                let listaModificar = [];
                let listaModificarFlete = [];

                load();

                function load() {
                    let sql = '';
                    //sql = 'select * from electron_crud.materiales where fecha between "2019-01-01" and "3000-01-01" and Material = "granza" and pagado = 0 order by proveedor asc;';
                    sql = 'select * from electron_crud.materiales where fecha between "2019-01-01" and "3000-01-01" and pagadom = 0 order by  material, proveedor;'
                    ipcRenderer.send('encontrar', sql);

                    ipcRenderer.on('encontro', (e, datos) => {
                        let nombreAnterior = datos[0].proveedor;
                        let materialAnterior = datos[0].material;
                        let volumenValor = 0;
                        let pesoValor = 0;
                        let precioValor = 0;

                        txt.innerHTML += `<tr><b><th>${materialAnterior}</th></b></tr>`
                        txt.innerHTML += `<tr><th>${nombreAnterior}</th></tr>`
                        for (var i = 0; i < datos.length; i++) {
                            if (datos[i].m3 == '0') {
                                datos[i].tn = datos[i].tn - datos[i].factorp
                            }
                            if (datos[i].tn == '0') {
                                datos[i].m3 = datos[i].m3 - datos[i].factorp
                            }
                            console.log(datos[i].factorp)
                            if (nombreAnterior != datos[i].proveedor) {
                                txt.innerHTML += `
                                    <td class="p-1"></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"><b>${volumenValor}</b></td>
                                    <td class="p-1"><b>${pesoValor.toFixed(2)}</b></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"><b>${precioValor}Bs</b></td>
                                    `;
                                totalGlobal += precioValor;
                                if (materialAnterior != datos[i].material) {
                                    txt.innerHTML += `<tr><b><th>${datos[i].material}</th></b></tr>`
                                }
                                txt.innerHTML += `
                                    <tr><th>${datos[i].proveedor}</th></b></tr>
                                    <tr>
                                        <td class="p-1">${datos[i].fecha}</td>
                                        <td class="p-1">${datos[i].proveedor}</td>
                                        <td class="p-1">${datos[i].chofer}</td>
                                        <td class="p-1">${datos[i].control}</td>
                                        <td class="p-1">${datos[i].material}</td>
                                        <td class="p-1">${datos[i].m3}</td>
                                        <td class="p-1">${datos[i].tn}</td>
                                        <td class="p-1">${datos[i].preciom}Bs</td>
                                        <td class="p-1">${datos[i].preciom * datos[i].m3 + (datos[i].preciom * datos[i].tn)}Bs</td>
                                        <td class="p-1"><div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="${datos[i].Id}">
                                        </div></td>
                                     </tr>`;
                                listaDatos.push(datos[i].Id)
                                nombreAnterior = datos[i].proveedor
                                materialAnterior = datos[i].material
                                volumenValor = datos[i].m3
                                pesoValor = datos[i].tn
                                precioValor = datos[i].preciom * datos[i].m3 + (datos[i].preciom * datos[i].tn)
                            } else {
                                txt.innerHTML += `
                                    <tr>
                                        <td class="p-1">${datos[i].fecha}</td>
                                        <td class="p-1">${datos[i].proveedor}</td>
                                        <td class="p-1">${datos[i].chofer}</td>
                                        <td class="p-1">${datos[i].control}</td>
                                        <td class="p-1">${datos[i].material}</td>
                                        <td class="p-1">${datos[i].m3}</td>
                                        <td class="p-1">${datos[i].tn}</td>
                                        <td class="p-1">${datos[i].preciom}Bs</td>
                                        <td class="p-1">${datos[i].preciom * datos[i].m3 + (datos[i].preciom * datos[i].tn)}Bs</td>
                                        <td class="p-1"><div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="${datos[i].Id}">
                                        </div></td>
                                    </tr>`;
                                listaDatos.push(datos[i].Id)
                                nombreAnterior = datos[i].proveedor
                                volumenValor += datos[i].m3
                                pesoValor += datos[i].tn
                                precioValor += datos[i].preciom * datos[i].m3 + (datos[i].preciom * datos[i].tn)
                            }
                    }
                        txt.innerHTML += `
                                    <td class="p-1"></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"><b>${volumenValor}</b></td>
                                    <td class="p-1"><b>${pesoValor.toFixed(2)}</b></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"><b>${precioValor}Bs</b></td>
                                    `
                        totalGlobal += precioValor;
                        console.log(listaDatos)
                    })
                    //--------------------------------------------------------------------------------------------------------------

                    sql = 'select * from electron_crud.materiales where fecha between "2019-01-01" and "3000-01-01" and chofer != "-" and pagadof = 0 order by  material, chofer;'
                    ipcRenderer.send('encontrar2', sql);

                    ipcRenderer.on('encontro2', (e, datos) => {
                        console.log(datos.length)


                        if (datos.length == 0) {
                            total.innerHTML += `
                                    <h5 class="text-center">TOTAL GLOBAL = ${totalGlobal}Bs</h5>
                                    `
                        } else {
                            let nombreAnterior = datos[0].chofer;
                            let materialAnterior = datos[0].material;
                            let volumenValor = 0;
                            let pesoValor = 0;
                            let precioValor = 0;

                            txt2.innerHTML += `<tr><b><th>${materialAnterior}</th></b></tr>`
                            txt2.innerHTML += `<tr><th>${nombreAnterior}</th></tr>`
                            for (var i = 0; i < datos.length; i++) {
                                if (datos[i].m3 == '0') {
                                    datos[i].tn = datos[i].tn - datos[i].factorf
                                }
                                if (datos[i].tn == '0') {
                                    datos[i].m3 = datos[i].m3 - datos[i].factorf
                                }
                                if(datos[i].material == 'Cemento'){
                                    datos[i].m3 = 1;
                                    datos[i].tn = 0;
                                }
                                if (nombreAnterior != datos[i].chofer) {
                                    txt2.innerHTML += `
                                    <td class="p-1"></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"><b>${volumenValor}</b></td>
                                    <td class="p-1"><b>${pesoValor.toFixed(2)}</b></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"><b>${precioValor}Bs</b></td>
                                    `;
                                    totalGlobal += precioValor;
                                    if (materialAnterior != datos[i].material) {
                                        txt2.innerHTML += `<tr><b><th>${datos[i].material}</th></b></tr>`
                                    }
                                    txt2.innerHTML += `
                                    <tr><th>${datos[i].chofer}</th></b></tr>
                                    <tr>
                                        <td class="p-1">${datos[i].fecha}</td>
                                        <td class="p-1">${datos[i].proveedor}</td>
                                        <td class="p-1">${datos[i].chofer}</td>
                                        <td class="p-1">${datos[i].control}</td>
                                        <td class="p-1">${datos[i].material}</td>
                                        <td class="p-1">${datos[i].m3}</td>
                                        <td class="p-1">${datos[i].tn}</td>
                                        <td class="p-1">${datos[i].preciof}Bs</td>
                                        <td class="p-1">${datos[i].preciof * datos[i].m3 + (datos[i].preciof * datos[i].tn)}Bs</td>
                                        <td class="p-1"><div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="f${datos[i].Id}">
                                        </div></td>
                                     </tr>`;
                                    listaFlete.push(datos[i].Id)
                                    nombreAnterior = datos[i].proveedor
                                    materialAnterior = datos[i].material
                                    volumenValor = datos[i].m3
                                    pesoValor = datos[i].tn
                                    precioValor = datos[i].preciom * datos[i].m3 + (datos[i].preciom * datos[i].tn)
                                } else {
                                    txt2.innerHTML += `
                                    <tr>
                                        <td class="p-1">${datos[i].fecha}</td>
                                        <td class="p-1">${datos[i].proveedor}</td>
                                        <td class="p-1">${datos[i].chofer}</td>
                                        <td class="p-1">${datos[i].control}</td>
                                        <td class="p-1">${datos[i].material}</td>
                                        <td class="p-1">${datos[i].m3}</td>
                                        <td class="p-1">${datos[i].tn}</td>
                                        <td class="p-1">${datos[i].preciof}Bs</td>
                                        <td class="p-1">${datos[i].preciof * datos[i].m3 + (datos[i].preciof * datos[i].tn)}Bs</td>
                                        <td class="p-1"><div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="f${datos[i].Id}">
                                        </div></td>
                                    </tr>`;
                                    listaFlete.push(datos[i].Id)
                                    nombreAnterior = datos[i].chofer
                                    volumenValor += datos[i].m3
                                    pesoValor += datos[i].tn
                                    precioValor += datos[i].preciof * datos[i].m3 + (datos[i].preciof * datos[i].tn)
                                }

                            }
                            txt2.innerHTML += `
                                    <td class="p-1"></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"><b>${volumenValor}</b></td>
                                    <td class="p-1"><b>${pesoValor.toFixed(2)}</b></td>
                                    <td class="p-1"></td>
                                    <td class="p-1"><b>${precioValor}Bs</b></td>
                                    `
                            totalGlobal += precioValor;
                            total.innerHTML += `
                                    <h5 class="text-center">TOTAL GLOBAL = ${totalGlobal}Bs</h5>
                                    `
                            console.log(listaFlete)
                            console.log(totalGlobal)
                        }
                    })
                }


                function pagar() {
                    console.log('Lista datos ' + listaDatos);
                    for (var i = 0; i < listaDatos.length; i++) {
                        console.log('ESTE NO WEON!! ' + listaModificar)
                        var isChecked = document.getElementById(listaDatos[i]).checked;
                        if (isChecked) {
                            listaModificar.push(listaDatos[i])

                        }
                    }
                    console.log('Lista Flete ' + listaFlete);
                    for (var i = 0; i < listaFlete.length; i++) {
                        console.log('ESTE WEON!! ' + listaModificarFlete);
                        var isChecked2 = document.getElementById('f' + listaFlete[i]).checked;
                        if (isChecked2) {
                            listaModificarFlete.push(listaFlete[i])

                        }
                    }

                    for (var i = 0; i < listaModificar.length; i++) {
                        sql = 'UPDATE electron_crud.materiales SET pagadom = 1 WHERE Id = ' + listaModificar[i] + ';'
                        console.log('Procesando Proveedor ' + listaModificar);
                        ipcRenderer.send('actualizar', sql);
                    }

                    for (var i = 0; i < listaModificarFlete.length; i++) {
                        sql = 'UPDATE electron_crud.materiales SET pagadof = 1 WHERE Id = ' + listaModificarFlete[i] + ';'
                        console.log('Procesando Flete ' + listaModificarFlete);
                        ipcRenderer.send('actualizar', sql);
                    }
                    //load();
                    location.reload();
                }

                function printDiv(nombreDiv) {
                    var contenido = document.getElementById(nombreDiv).innerHTML;
                    var contenidoOriginal = document.body.innerHTML;

                    document.body.innerHTML = contenido;

                    window.print();

                    document.body.innerHTML = contenidoOriginal;
                }


                /*
                sql = 'select Nombre from electron_crud.proveedores where Material ="granza" order by Nombre ASC;'
                                ipcRenderer.send('encontrar', sql);

                                ipcRenderer.on('encontro', (e, datos) => {
                                    console.log(datos.length);
                                    for (var i = 0; i < datos.length; i++) {
                                        let nombreB = datos[i].Nombre;
                                        txt.innerHTML += `<h4 id="${nombreB}h"></h4>
                                        <div id="${nombreB}t">

                                        </div>
                                        `;

                                        sql = 'select * from electron_crud.materiales where fecha between "2019-01-01" and "3000-01-01" and proveedor = "' + nombreB + '" and Material ="granza" and pagado = 0 order by proveedor asc;'
                                        ipcRenderer.send('encontrar', sql);

                                        ipcRenderer.on('encontro', (e, dato) => {
                                            document.getElementById(nombreB + "h").textContent += nombreB
                                            for (var i = 0; i < dato.length; i++) {
                                                document.getElementById(nombreB + "t").innerHTML += `
                                    <tr>
                                        <td class="p-1">${dato[i].fecha}</td>
                                        <td class="p-1">${dato[i].proveedor}</td>
                                        <td class="p-1">${dato[i].chofer}</td>
                                        <td class="p-1">${dato[i].control}</td>
                                        <td class="p-1">${dato[i].material}</td>
                                        <td class="p-1">${dato[i].m3}</td>
                                        <td class="p-1">${dato[i].tn}</td>
                                        <td class="p-1">${dato[i].preciom * dato[i].m3 + (dato[i].preciom * dato[i].tn)}Bs</td>
                                        <td class="p-1"><div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1"></label>
                                        </div></td>
                                    </tr>`;
                                            }
                                        })
                                    }
                                })

                */



            </script>
</body>

</html>