<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css" crossorigin="anonymous">

    <title>Document</title>

</head>

<body>
    <div class="container-fluid">
        <ul class="nav bg-secondary mt-2">
            <li class="nav-item">
                <a href=""><button class="nav-link btn btn-primary">Dashboard</button></a>
            </li>
            <li class="nav-item">
                <a href="index.html"><button class="nav-link btn btn-primary">Consulta Clientes</button></a>
            </li>
            <li class="nav-item">
                <a href="proveedores.html"><button class="nav-link btn btn-primary active">Consulta Proveedores</button></a>
            </li>
            <li class="nav-item">
                <a href=""><button class="nav-link btn btn-primary" tabindex="-1" aria-disabled="true">Disabled</button></a>
            </li>
        </ul>
        <div class="ml-3 mt-1">
            <a href="proveedores.html"><button class="btn btn-primary">Consulta General</button></a>
            <a href="cuentasproveedores.html"><button class="btn btn-primary">Cuentas por pagar</button></a>
            <a href="addentrada.html"><button class="btn btn-primary">Agregar entrada</button></a>
            <a href="facturas.html"><button class="btn btn-primary active">Agregar Factura</button></a>
            <a href="listproveedores.html"><button class="btn btn-primary">Proveedores</button></a>
        </div>
        <h2 class="text-center">Registrar Entrada de Agregados</h2>
        <form id="form">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Fecha</label>
                        <input class="form-control" type="date" id="fecha">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Proveedor</label>
                        <select id="txtBuscar" type="text" class="form-control form-control-sm">

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">N. de Control</label>
                        <input class="form-control" type="text" id="nControl">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Monto</label>
                        <input class="form-control" type="text" id="monto">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descripcion</label>
                        <textarea class="form-control" id="descripcion" rows="3"></textarea>
                    </div>
                    <button class="btn btn-success btn-block">Guardar</button>
                </div>



            </div>
        </form>


    </div>
</body>

<script>
    console.log('Iniciando')
    const { ipcRenderer } = require('electron');

    const form = document.querySelector('#form');
    form.addEventListener('submit', (e) => {
        e.preventDefault();
        guardar();
    });

    ipcRenderer.on('carga4', (e, buscardata) => {
        //console.log(datos[0].fecha)
        txtBuscar.innerHTML += ``;
        for (var i = 0; i < buscardata.length; i++) {
            txtBuscar.innerHTML += `
                        <option>${buscardata[i].nombre}</option>`;
        }

    });


    function guardar() {

        const fecha = document.querySelector('#fecha').value;
        const proveedor = document.querySelector('#txtBuscar').value;
        const nControl = document.querySelector('#nControl').value;
        const monto = document.querySelector('#monto').value;
        const descripcion = document.querySelector('#descripcion').value;


        const datos = {
            fecha: fecha,
            proveedor: proveedor,
            nfactura: nControl,
            monto: monto,
            descripcion: descripcion
        };

        const tabla = 'facturas'
        ipcRenderer.send('guardar', datos, tabla);
        form.reset()

    };

//SELECT fecha, proveedor, sum(m3) as m3, sum(tn) FROM electron_crud.materiales WHERE fecha BETWEEN '2018-12-1' and '3019-1-1' GROUP BY proveedor ORDER BY proveedor ASC; 

</script>

</html>